################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Roberto's Corner/v16/Server/sqlite3
/.vs/Roberto's Corner/v16
/.vs/Robs-Corner/v16
/.vs
